.teacherExam .btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.teacherExam .btn-create {
  background-color: #065a06;
  font-size: 20px;
  float: right;
  display: flex;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  right: 0;
}

.teacherExam #teacher-header {
  /* margin-top: 2px; */
  height: 50px;
  background-color: #92e2ca;
}

.teacherExam #teacher-header #header {
  float: left;
  display: flex;
}


.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  /* background-image: var(--section-background-color) !important; */
  /* background-color: white !important; */
}

.card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  border: none !important;
  
  /* background-color: white; */
}
