#viewExam .col-8 {
  /* background-color: rgb(173, 241, 146); */
  margin-top: 5px;
  align-content: center;
  /* max-width: 1000px; */
}

#viewExam #viewExam-header {
  width: 100%;
  min-height: 50px;
  background-color: rgb(160, 223, 145);
}

#viewExam .middlehi {
  border-radius: 20px;
  margin-top: 2px;
  background-color: rgb(189, 245, 247);
}

#viewExam .footerhi {
  background-color: rgb(238, 187, 67);
  border-radius: 5px;
}

#viewExam #button1 {
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
}
#viewExam #button2 {
  margin-bottom: 5px;
  margin-right: 5px;
  float: right;
}

.viewExam .btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.viewExam #addQuestion {
  background-color: #9eba00;
  font-size: 25px;
  float: right;
  display: flex;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  right: 0;
}

.viewExam #viewExam-header {
  margin-top: 2px;
  background-color: #f1d997;
}

.viewExam #viewExam-header #header {
  float: left;
  display: flex;
}
