#viewExam .view {
  /* background-color: rgb(173, 241, 146); */
  margin-top: 5px;
  align-content: center;
  width: 900px;
  /* max-width: 1000px; */
}

/* #viewExam #viewExam-header {
  width: 100%;
  min-height: 50px;
  background-color: rgb(160, 223, 145);
} */

#viewExam .middlehi {
  border-radius: 20px;
  margin-top: 2px;
  background-color: rgb(189, 245, 247);
}

#viewExam .footerhi {
  background-color: rgb(238, 187, 67);
  border-radius: 5px;
}

#viewExam #button1 {
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
}
#viewExam #button2 {
  margin-bottom: 5px;
  margin-right: 5px;
  float: right;
}

#viewExam .btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#viewExam #addQuestion {
  background-color: #9eba00;
  font-size: 25px;
  float: right;
  display: flex;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  right: 0;
}

#viewExam #viewExam-header {
  margin-top: 2px;
  background-color: #f1d997;
}

#viewExam #viewExam-header #header {
  float: left;
  display: flex;
}

#viewExam .btn-add {
  background-color: #034361;
  font-size: 20px;
  float: right;
  display: flex;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  right: 0;
}

#viewExam #view-header {
  /* margin-top: 2px; */
  height: 50px;
  font-size: medium;
  background-color: #97bef1;
}

#viewExam .footerhi button {
  margin-left: 6%;
  margin-right: 6%;
  width: 15%;
}

@media only screen and (max-width: 600px) {
  #viewExam .view {
    margin-top: 5px;
    /* margin-left: 4%;
    margin-right: 2%; */
    padding-left: 2%;
    padding-right: 2%;
    align-content: center;
    width: 96%;
  }
  #viewExam .footerhi button {
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
  }

  #viewExam #view-header {
    font-size: xx-small;
    margin-top: 2px;
    background-color: #f1d997;
    padding-left: 2%;
    padding-right: 2%;
  }
  #viewExam #view-header #header {
    padding-left: 10px;
  }
}
